$ow-orange: #f39300;
$ow-black: #111316;
$ow-green: #5bbd79;
$ow-white: #fafafa;
$ow-brown: #b0a377;
$ow-orange-dark: #d17d00;
$ow-black-dark: #07090a;
$ow-green-dark: #408f58;
$ow-white-dark: #ececec;
$ow-brown-dark: #887a4e;
$ow-orange-opa: #f392006e;
$ow-black-opa: #11131659;
$ow-green-opa: #5bbd7844;
$ow-white-opa: #fafafa57;
$ow-brown-opa: #b0a3774f;
$ow-black-opa-mid: #1113168f;
$ow-green-opa-mid: #5bbd7888;
$ow-white-opa-mid: #fafafa83;
$ow-brown-opa-mid: #683f006e;
$ow-black-opa-dark: #111316e1;
$ow-green-opa-dark: #5bbd78cb;
$ow-white-opa-dark: #fafafae0;
$ow-brown-opa-dark: #683e00d2;
$ow-gradient-primary: linear-gradient(to top left, #f39300, #d17d00);
$ow-gradient-secondary: linear-gradient(to top left, #5bbd79, #408f58);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
