/* Categorias Info Banner */

.banner {
  &.banner-inner {
    background-position: 0rem -13rem !important;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:  0;
    background-position: bottom!important;
    @include respond(tab-land){
      top:  -68px;
    }
    @include respond(phone){
      top:  0;
    }
    & .banner-text {
      position: relative;
      display: block;
      bottom: -2rem ;
      left: 0;    
      text-align: center;
      & .text-left{
        text-align: center;
      }
      &:before {
        display: inline-block;
        content: ' ';
        position: relative;
        left: auto;
        top: -2.6rem;
        height: 90px;
        width: 90px;
        background-color: rgba(0, 0, 0, 0.16);
        border-radius: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
      & h1 {
        font-size: 25px;
        margin-left: 0;
        padding: 5px;
        display: initial;
        width: 100%;
        min-width: 246px;
        position: relative;
        background: rgba(0, 0, 0, 0.16);
        @include respond(phone){
          font-size: 16px;
        }
      }
    }
    & .subtitle {
      display: none;
    }
    & .center-text .container {
      margin: 0;
    }
  }
}

.content-holder.content-boxed .thumbnail .img-wrap {
  max-height: 197px;
}
